/*#web_bg{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #ff5a25 74%);
}*/
#web_bg {
    background: linear-gradient(to right bottom, rgb(0, 255, 240), rgb(92, 159, 247) 40%, rgb(211, 34, 255) 80%);
}
